---
Language: Cpp
AlignTrailingComments: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: AllDefinitions
BasedOnStyle: Mozilla
BreakBeforeBraces: Allman
ColumnLimit: 0
Cpp11BracedListStyle: true
IndentCaseBlocks: true
IndentGotoLabels: false
TabWidth: 2
